body {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.js-weather {
  font-size: 20px;
}

.js-clock h1 {
  font-size: 100px;
}

input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
}

input::-ms-input-placeholder {
  color: white;
  display: flex;
  text-align: center;
}
input::-webkit-input-placeholder {
  color: white;
  display: flex;
  text-align: center;
}
input::-moz-placeholder {
  color: white;
  display: flex;
  text-align: center;
}

.js-form input {
  margin-bottom: 20px;
}

.form,
.greeting {
  display: none;
}

.greeting {
  font-size: 40px;
}

.showing {
  display: block;
}

.js-toDoList span {
  font-size: 25px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 3s linear;
}
